doctype html
html
  head
    title= title
    link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/pulse/bootstrap.min.css", rel="stylesheet", integrity="sha384-MF/Rtd9T3eOtgzSgXgBuiFnRWPX4/er58q9bm/UjsbR3ZmFpMAOy1Fbp9b1S+PVS", crossorigin="anonymous")
  body
    block content
